@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 6rem; */
}

body {
  background: #f6f6f6;
}

.verticalScroll {
  width: 100%;
  overflow-y: scroll;
  scrollbar-color: transparent transparent;
}

.verticalScroll::-webkit-scrollbar {
  display: none;
}

.horizontalScroll {
  width: 100%;
  overflow-x: scroll;
  scrollbar-color: transparent transparent;
  /* padding-left: 140px; */
}

.horizontalScroll::-webkit-scrollbar {
  display: none;
}

.background-about-us {
  background-color: rgba(53, 114, 239);
}

.background-blend {
  background:
    linear-gradient(to bottom, rgba(10, 57, 122, 0.2), rgba(1, 23, 53, 0.681)),
    url("../../public/assets/images/bg-vision.png") no-repeat center;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
}

.background-mission-first {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url("../../public/assets/images/misi-1.png") no-repeat center;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
}

.background-mission-second {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url("../../public/assets/images/misi-2.png") no-repeat center;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
}

.background-mission-third {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url("../../public/assets/images/misi-3.png") no-repeat center;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
}

.background-mission-fourth {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url("../../public/assets/images/misi-4.png") no-repeat center;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
}

.background-mission-fifth {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url("../../public/assets/images/misi-5.png") no-repeat center;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
}

/* EMBLA News */
.embla {
  /* max-width: 48rem; */
  /* margin: auto; */
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 31.5%;
  /* --slide-size: calc(100% / 3); */
  width: 100%;
}

.embla_mobile {
  /* max-width: 48rem; */
  /* margin: auto; */
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  width: 100%;
  /* margin-right: 3rem; */
}

.embla.fullscreen .embla__slide {
  flex: 0 0 calc(100% / 4.3); /* Menampilkan 5 item saat fullscreen */
}

.carousel-wrapper {
  transition:
    opacity 0.7s ease-in-out,
    visibility 0.7s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%); /* Start off-screen to the left */
    opacity: 0; /* Start fully transparent */
  }
  100% {
    transform: translateX(0); /* End at original position */
    opacity: 1; /* Fully opaque */
  }
}

/* Class to apply the slide-in animation */
.slide-in {
  animation: slideIn 1.5s ease-in-out forwards; /* Slide in from left */
}

/* Hide the element completely */
.hidden {
  display: none; /* Completely remove from layout */
}

/* You can also use a class for opacity transition */
.opacity-hidden {
  opacity: 0; /* Start off transparent */
  transition: opacity 0.5s ease-in-out; /* Smooth fade */
}

.opacity-visible {
  opacity: 1; /* Fully opaque */
  transition: opacity 0.5s ease-in-out; /* Smooth fade */
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  transition: transform 0.3s ease;
  /* margin-left: calc(var(--slide-spacing) * -1); */
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  margin: 0;
  /* min-width: 0; */
  /* padding-left: var(--slide-spacing); */
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  /* border-radius: 1.8rem; */
  /* font-size: 4rem; */
  /* font-weight: 600; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* height: var(--slide-height); */
  /* user-select: none; */
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.2rem;
  height: 3.2rem;
  z-index: 1;
  border-radius: 50%;
  color: #3572ef;
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: #e4e4e7;
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__progress {
  border-radius: 1.8rem;
  box-shadow: inset 0 0 0 0.2rem #e4e4e7;
  background-color: #3572ef;
  position: relative;
  height: 0.6rem;
  justify-self: flex-end;
  align-self: center;
  width: 90%;
  max-width: 90%;
  overflow: hidden;
}
.embla__progress__bar {
  background-color: #e4e4e7;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(#fc6736, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem #e4e4e7;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem #fc6736;
}

/* Embla Organization */
.embla_organization {
  /* max-width: 48rem; */
  /* margin: auto; */
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 55%;
}

.prose {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center;
  align-self: center; */
}

.prose ol {
  display: flex;
  flex-direction: column;
  list-style-type: decimal;
  margin-left: 2em;
}

.prose ul {
  list-style-type: disc;
  margin-left: 3em;
}

.prose li > span {
  color: white !important;
}

.prose-mpp {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center;
  align-self: center; */
  font-family: Poppins, sans-serif !important;
}

.prose-mpp ol {
  display: flex;
  flex-direction: column;
  list-style-type: decimal;
  margin-left: 1.2em;
  font-family: poppins, sans-serif !important;
}

.prose-mpp ul {
  list-style-type: disc;
  margin-left: 1.2em;
  font-family: poppins, sans-serif !important;
}

.prose-mpp li > span {
  color: white !important;
  font-family: poppins, sans-serif !important;
}

.prose-maklumat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prose-maklumat ol {
  display: flex;
  flex-direction: column;
  list-style-type: decimal;
  margin-left: 3em;
  gap: 1.5rem;
}

.prose-maklumat ul {
  list-style-type: disc;
  margin-left: 3em;
}

.prose-maklumat li > span {
  color: white !important;
}

/* Animasi untuk setiap huruf */
.animated-text .letter {
  display: inline-block;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

/* Ketika kelas 'fall' ditambahkan, jalankan animasi 'fall' */
.animated-text .letter.fall {
  animation: fall 0.5s forwards;
}

/* Definisi keyframes untuk animasi 'fall' */
@keyframes fall {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* animate new */

#gallery {
  position: relative;
  left: calc(-1 * var(--adjust-size));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  max-width: 100vw;
  padding: 20px;
  -webkit-perspective: 0;
  perspective: 0;
}
#gallery figure:nth-child(7n) {
  --duration: 1s;
  --pin-color: crimson;
}
#gallery figure:nth-child(7n + 1) {
  --duration: 1.8s;
  --pin-color: hotpink;
}
#gallery figure:nth-child(7n + 2) {
  --duration: 1.3s;
  --pin-color: magenta;
}
#gallery figure:nth-child(7n + 3) {
  --duration: 1.5s;
  --pin-color: orangered;
}
#gallery figure:nth-child(7n + 4) {
  --duration: 1.1s;
  --pin-color: darkorchid;
}
#gallery figure:nth-child(7n + 5) {
  --duration: 1.6s;
  --pin-color: deeppink;
}
#gallery figure:nth-child(7n + 6) {
  --duration: 1.2s;
  --pin-color: mediumvioletred;
}
#gallery figure:nth-child(3n) {
  --angle: 3deg;
}
#gallery figure:nth-child(3n + 1) {
  --angle: -3.3deg;
}
#gallery figure:nth-child(3n + 2) {
  --angle: 2.4deg;
}
#gallery figure:nth-child(odd) {
  --direction: alternate;
}
#gallery figure:nth-child(even) {
  --direction: alternate-reverse;
}
#gallery figure {
  --angle: 3deg;
  --count: 5;
  --duration: 1s;
  --delay: calc(-0.5 * var(--duration));
  --direction: alternate;
  --pin-color: red;

  position: relative;
  display: inline-block;
  margin: var(--adjust-size);
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: auto;
  text-align: center;
  background-color: ghostwhite;
  background-image: url("https://images.unsplash.com/photo-1629968417850-3505f5180761?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTMzMjQ3ODJ8&ixlib=rb-4.0.3&q=80&w=500");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;

  transform-origin: center 0.22rem;
  will-change: transform;
  break-inside: avoid;
  overflow: hidden;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#gallery.active figure {
  animation-duration: var(--duration), 1.5s;
  animation-delay: var(--delay),
    calc(var(--delay) + var(--duration) * var(--count));
  animation-timing-function: ease-in-out;
  animation-iteration-count: var(--count), 1;
  animation-direction: var(--direction), normal;
  animation-fill-mode: both;
  animation-name: swing, swingEnd;
}
#gallery figure:after {
  position: absolute;
  top: 0.22rem;
  left: 50%;
  width: 0.7rem;
  height: 0.7rem;
  content: "";
  background: var(--pin-color);
  border-radius: 50%;
  box-shadow: -0.1rem -0.1rem 0.3rem 0.02rem rgba(0, 0, 0, 0.5) inset;
  filter: drop-shadow(0.3rem 0.15rem 0.2rem rgba(0, 0, 0, 0.5));
  transform: translateZ(0);
  z-index: 2;
}
figure img {
  aspect-ratio: 1 /1;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
  z-index: 1;
}
figure figcaption {
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 1;
}
figure h2 {
  color: crimson;
  font-size: 22px;
}
figure p {
  font-size: 17px;
}
figure small {
  font-size: 12px;
}
figure > div {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes swing {
  0% {
    transform: rotate3d(0, 0, 1, calc(-1 * var(--angle)));
  }
  100% {
    transform: rotate3d(0, 0, 1, var(--angle));
  }
}
@keyframes swingEnd {
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
#info {
  position: relative;
  text-align: center;
  z-index: 1;
}
#info a {
  font-size: 1.1rem;
}
/*
@media (orientation: landscape) {
	#gallery {
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	}
}
*/
@media (min-width: 800px) {
  #gallery {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}
