@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 6rem; */
}

body {
  background: #f6f6f6;
}

.verticalScroll {
  width: 100%;
  overflow-y: scroll;
  scrollbar-color: transparent transparent;
}

.verticalScroll::-webkit-scrollbar {
  display: none;
}

.horizontalScroll {
  width: 100%;
  overflow-x: scroll;
  scrollbar-color: transparent transparent;
  padding-left: 140px;
}

.horizontalScroll::-webkit-scrollbar {
  display: none;
}

.background-about-us {
  background-color: rgba(53, 114, 239);
}

.background-blend {
  background:
    linear-gradient(to bottom, rgba(10, 57, 122, 0.2), rgba(1, 23, 53, 0.681)),
    url("../../public/assets/images/bg-vision.png") no-repeat center;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
}

/* EMBLA News */
.embla {
  /* max-width: 48rem; */
  /* margin: auto; */
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 31.1%;
  /* --slide-size: calc(100% / 3); */
  width: 100%;
}

.embla_mobile {
  /* max-width: 48rem; */
  /* margin: auto; */
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  width: 100%;
  /* margin-right: 3rem; */
}

.embla.fullscreen .embla__slide {
  flex: 0 0 calc(100% / 4.3); /* Menampilkan 5 item saat fullscreen */
}

.carousel-wrapper {
  transition:
    opacity 0.7s ease-in-out,
    visibility 0.7s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%); /* Start off-screen to the left */
    opacity: 0; /* Start fully transparent */
  }
  100% {
    transform: translateX(0); /* End at original position */
    opacity: 1; /* Fully opaque */
  }
}

/* Class to apply the slide-in animation */
.slide-in {
  animation: slideIn 1.5s ease-in-out forwards; /* Slide in from left */
}

/* Hide the element completely */
.hidden {
  display: none; /* Completely remove from layout */
}

/* You can also use a class for opacity transition */
.opacity-hidden {
  opacity: 0; /* Start off transparent */
  transition: opacity 0.5s ease-in-out; /* Smooth fade */
}

.opacity-visible {
  opacity: 1; /* Fully opaque */
  transition: opacity 0.5s ease-in-out; /* Smooth fade */
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  transition: transform 0.3s ease;
  /* margin-left: calc(var(--slide-spacing) * -1); */
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  margin: 0;
  /* min-width: 0; */
  /* padding-left: var(--slide-spacing); */
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  /* border-radius: 1.8rem; */
  /* font-size: 4rem; */
  /* font-weight: 600; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* height: var(--slide-height); */
  /* user-select: none; */
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.2rem;
  height: 3.2rem;
  z-index: 1;
  border-radius: 50%;
  color: #3572ef;
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: #e4e4e7;
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__progress {
  border-radius: 1.8rem;
  box-shadow: inset 0 0 0 0.2rem #e4e4e7;
  background-color: #3572ef;
  position: relative;
  height: 0.6rem;
  justify-self: flex-end;
  align-self: center;
  width: 90%;
  max-width: 90%;
  overflow: hidden;
}
.embla__progress__bar {
  background-color: #e4e4e7;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(#fc6736, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem #e4e4e7;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem #fc6736;
}

/* Embla Organization */
.embla_organization {
  /* max-width: 48rem; */
  /* margin: auto; */
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 55%;
}
