@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 6rem; */
}

.verticalScroll {
  width: 100%;
  overflow-y: scroll;
  scrollbar-color: transparent transparent;
}

.verticalScroll::-webkit-scrollbar {
  display: none;
}

.background-about-us {
  background-color: rgba(53, 114, 239);
}
